<!DOCTYPE html>
<html>
<head>
  <title>Vfl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Log In</a></li>
    <li><a href="#!">Sign Up</a></li>
    <li><a href="#!">Log Out</a></li>
    <li class="divider"></li>
    <li><a href="#!">Settings</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">VoteForLaughs</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%= new_user_url %>">Home</a></li>
        <li><a href="<%= comedians_url %>">Comedians</a></li>
        <li><a href="<%= events_url %>">Events</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Settings<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
  <br/>
<%= yield %>

</body>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
</html>
